---
const K = 2; // Number of recent posts to display

const { posts } = Astro.props;

const recentPosts = posts
  .sort((a, b) => {
    return (
      new Date(b.frontmatter.date).getTime() -
      new Date(a.frontmatter.date).getTime()
    );
  })
  .slice(0, K);
---

<div class="flex flex-col lg:flex-row justify-evenly">
  <header class="mb-8">
    <h1 class="mb-2">Recent Posts from the Blog</h1>
    <h2 class="mb-4 text-text dark:text-dk-text">A new post every week!</h2>
  </header>
  <div>
    {
      recentPosts.map((post, index) => (
        <div class="mb-8">
          <h1 class="mb-2">
            <a href={post.url}>{post.frontmatter.title}</a>
          </h1>
          <p>{post.frontmatter.description}</p>
          <p class="text-gray-600 dark:text-gray-400">
            {post.frontmatter.date}
          </p>
          <a
            class="text-secondary dark:text-dk-secondary hover:text-accent dark:hover:text-dk-accent"
            href={post.url}
          >
            Read more &rarr;
          </a>
          <div class="border-t border-gray-200 dark:border-dk-gray-800 my-8" />
        </div>
      ))
    }
    <div class="text-right mt-4 text-secondary dark:text-dk-secondary">
      <a class="hover:text-accent dark:hover:text-dk-accent" href="/posts">
        Read more posts</a
      >
    </div>
  </div>
</div>
