---
// Given an astro post display it in a card format, nice and pretty

const { post } = Astro.props;

const { url } = post;
const { title, description, img_path, date } = post.frontmatter;
---

<a
  href={url}
  class="flex flex-col items-center rounded-lg shadow-md md:flex-row md:max-w-xl bg-primary outline outline-1 dark:outline-primary hover:outline-secondary dark:hover:outline-dk-secondary dark:bg-dk-primary"
>
  {
    img_path && (
      <img
        class="w-full h-64 rounded-t-lg md:w-64 md:h-auto md:rounded-l-lg"
        src={img_path}
        alt={title}
      />
    )
  }
  <div class="p-4">
    <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100">
      {title}
    </h2>
    <p class="text-gray-600 dark:text-gray-400">{description}</p>
    <p class="text-gray-500 dark:text-gray-300">{date}</p>
  </div>
</a>
