---
import { Image } from "astro:assets";

const { post } = Astro.props;

const { url } = post;
const { title, description, img_path, date } = post.frontmatter;
---

<a
  href={url}
  class="flex flex-col items-center rounded-lg shadow-md md:flex-row bg-primary dark:bg-dk-primary"
>
  <div class="w-full">
    {/* TODO: fix this (and parent) */}
    {
      img_path && (
        <Image
          class="w-full h-28 rounded-t-lg md:w-64 md:rounded-l-lg"
          src={img_path}
          alt={title}
          width={300}
          height={200}
        />
      )
    }
  </div>

  <div class="p-4">
    <h2 class="text-2xl font-bold">
      {title}
    </h2>
    <p>{description}</p>
    <p class="text-gray-500 dark:text-gray-500">{date}</p>
  </div>
</a>
<!-- Horizontal Line -->
<div class="w-full h-0.5 my-4 bg-secondary dark:bg-dk-secondary"></div>
