---
import BaseLayout from "../layouts/BaseLayout.astro";
import { info } from "../data/info";
import ProjectCarousel from "../components/projects_section/ProjectCarousel";
import Contact from "../components/contact_section/Contact";
import About from "../components/about_section/About";
import Blog from "../components/post_section/Blog.astro";

import { Image } from "astro:assets";

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout title="Home">
  <section class="lg:h-screen lg:m-0 my-20 mx-2" id="home">
    <div
      class="flex flex-col lg:flex-row justify-center items-center h-full space-y-4"
    >
      <Image
        src={info.picture}
        alt={info.picture_alt}
        width={200}
        height={200}
        class="lg:h-96 lg:w-96 h-40 w-40 rounded-full object-fill object-center space-x-8"
      />
      <div class="flex flex-col lg:mx-8 leading-relaxed space-y-4">
        <h1 class="text-3xl lg:text-5xl font-bold font-serif">
          Hi, I'm <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-green-600 to-blue-500 dark:from-green-400 dark:to-blue-400"
          >
            {info.name}</span
          >
        </h1>
        <h2 class="text-text dark:text-dk-text">{info.brief_description}</h2>
        <p class="text-2xl">
          Based in <span class="text-secondary dark:text-dk-secondary"
            >{info.location}</span
          >
        </p>
      </div>
    </div>
  </section>
  <section class="lg:m-0
        my-20
        mx-2" id="about">
    <About about={info.about} client:visible />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="projects"
  >
    <ProjectCarousel projects={info.projects} client:only />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="blog"
  >
    <Blog posts={allPosts} />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="contact"
  >
    <div class="flex flex-row justify-center items-center h-full space-y-4">
      <Contact contact={info.contact} size="lg" />
    </div>
  </section>
</BaseLayout>
