---
import BaseLayout from "../layouts/BaseLayout.astro";
import { info } from "../data/info";
import ProjectCarousel from "../components/projects_section/ProjectCarousel";
import Contact from "../components/contact_section/Contact";
import About from "../components/about_section/About";

// This is the home page, it will contain three sections that on large screens will be full height (whole screen)
// These sections will be: the hero (my name, title, brief description and a picture), the projects section (carousel scrolling through my projects) and the contact section (a form to send me an email, with a message and a subject field, and a button to send the email)
// We use tailwindcss for styling, react for the interactivity and astro for the static site generation
// When you have to define a new React Component just put there the name of the component and the props it will receive, I will implement it later
---

<BaseLayout title="Home">
  <!-- First Section, Hero -->
  <section class="lg:h-screen lg:m-0 my-20 mx-2" id="home">
    <div class="flex flex-row justify-center items-center h-full space-y-4">
      <div class="flex flex-col lg:mx-8">
        <h1 class="text-4xl font-bold">
          Hi, I'm <span
            class="bg-clip-text text-transparent bg-gradient-to-r from-green-600 to-blue-500 dark:from-green-400 dark:to-blue-400"
          >
            {info.name}</span
          >
        </h1>
        <h2 class="text-2xl font-semibold">{info.brief_description}</h2>
        <h2 class="text-2xl font-semibold">
          Based in <span class="text-secondary dark:text-dk-secondary"
            >{info.location}</span
          >
        </h2>
      </div>
      <img
        class="lg:h-96 lg:w-96 h-40 w-40 rounded-full object-cover object-center space-x-8"
        src={info.picture}
        alt="A picture of me"
      />
    </div>
  </section>

  <section class="lg:m-0 my-20 mx-2" id="about">
    <About about={info.about} client:only />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="projects"
  >
    <ProjectCarousel projects={info.projects} client:only />
  </section>

  <section class="lg:h-screen lg:m-0 my-20 mx-2" id="contact">
    <div class="flex flex-row justify-center items-center h-full space-y-4">
      <Contact contact={info.contact} client:only />
    </div>
  </section>
</BaseLayout>
