---
import BaseLayout from "../layouts/BaseLayout.astro";
import { info } from "../data/info";
import ProjectCarousel from "../components/projects_section/ProjectCarousel";
import Contact from "../components/contact_section/Contact";
import About from "../components/about_section/About";
import Blog from "../components/post_section/Blog.astro";

import { Image } from "astro:assets";

const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout title="Home">
  <section class="lg:h-screen lg:m-0 my-20 mx-2" id="home">
    <div
      class="flex flex-col lg:flex-row justify-center items-center h-full space-y-4"
    >
      <div class="profile-pic">
        <Image
          src={info.picture}
          alt={info.picture_alt}
          width={200}
          height={200}
          class="lg:h-96 lg:w-96 h-40 w-40 rounded-full object-fill object-center space-x-8"
        />
      </div>

      <div class="flex flex-col lg:mx-8 leading-relaxed space-y-4">
        <h1 class="text-3xl lg:text-5xl font-bold font-serif">
          Hi, I'm <span class="bg-clip-text animate-pulse typewriter">
            {info.name}</span
          >
        </h1>
        <h2 class="text-text dark:text-dk-text">{info.brief_description}</h2>
        <p class="text-2xl">
          Based in <span class="text-secondary dark:text-dk-secondary"
            >{info.location}</span
          >
        </p>
      </div>
    </div>
  </section>
  <section class="lg:m-0
        my-20
        mx-2" id="about">
    <About about={info.about} client:visible />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="projects"
  >
    <ProjectCarousel projects={info.projects} client:only />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 flex-col flex justify-center w-full"
    id="blog"
  >
    <Blog posts={allPosts} />
  </section>

  <section
    class="lg:h-screen lg:m-0 my-20 mx-2 flex-col flex justify-center w-full"
    id="contact"
  >
    <div class="flex flex-row justify-center items-center h-full space-y-4">
      <Contact contact={info.contact} size="lg" />
    </div>
  </section>
</BaseLayout>

<style>
  .typewriter {
    background: linear-gradient(to left, #3333ff, #efff15, #ff0000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: animation 6s ease-in-out infinite;
    background-size: 400% 100%;
  }

  @keyframes animation {
    0%,
    100% {
      background-position: 0 0;
    }

    50% {
      background-position: 100% 0;
    }
  }

  /* Shadow effect shifting through the image: inspired by https://codepen.io/davidicus/pen/emgQKJ */
  .profile-pic {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
  }

  .profile-pic::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .profile-pic:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
  @-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
</style>
